{{!< default}}

<main class="site-main">

    
    <div class="gh-outer">
        <section class="gh-inner">

            {{#is "home"}}
            <h2 class="featured-title">Blog</h2>
            {{/is}}
            
            <div class="post-feed gh-feed gh-canvas">
                {{#foreach posts}}
                    {{> "loop"}}
                {{/foreach}}
            </div>
        </section>

        {{pagination}}
    </div>

</main>